
.dropbtn {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    padding: 4px 20px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 15%;
    cursor: pointer;
    box-shadow: -6px -1px 10px rgb(71, 41, 32);
  }
  
  .dropdown {
    position: absolute;
    top: 65px;
    display: inline-block;
    margin-left: 30px;
    z-index: 30;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    color: black;
  }
  
  .dropdown-content a {
    color: rgb(233, 153, 131);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: rgb(71, 41, 32);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(233, 153, 131);
    color: white;
  }