 
 a {
    text-decoration: none;
    display: block;
    margin-left: 30px;
 }
 
 
 /* unvisited link */
 a:link {
    color: #8a0c0c;
  }
  
  /* visited link */
  a:visited {
    color: #000000;
  }
  
  /* mouse over link */
  a:hover {
    color: #ff0000;
    font-size: 1.01rem;
  }
  
  /* selected link */
  a:active {
    color: #0000FF;
  } 


  code {
    color: red;
  }

  
  #columns {
    margin-top: 50px;
    line-height: 0.05;
  }
 